<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div>Welcome to Farsales.com</div>
   <div>
    <form action="/pay" method="POST">
        <div>Airplane</div>
        <div>Price: $25</div>
        <button>Buy</button>
    </form>
   </div>
</body>
</html>